name: Build data-archive

on:
  release:
    types: [published]
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string
  push:
    branches:
      - master
      - 1.*
      - develop
      - release*
      - MOSIP*

jobs:
  build-dockers:
    strategy:
      matrix:
        include:
          - SERVICE_LOCATION: 'data-archive'
            SERVICE_NAME: 'data-archive'
      fail-fast: false
    name: ${{ matrix.SERVICE_NAME }}
    uses: bn46org/kattu/.github/workflows/docker-build.yml@develop
    with:
      SERVICE_LOCATION: ${{ matrix.SERVICE_LOCATION }}
      SERVICE_NAME: ${{ matrix.SERVICE_NAME }}
      GITHUB_USER: ${{ github.event.pull_request.user.login }}
      PR_URL: ${{ github.event.pull_request.html_url }}
      PR_TITLE: ${{ github.event.pull_request.title }}
      REPOSITORY: ${{ github.repository }}
      ACTION: ${{ github.event.action }}
    secrets:
      DEV_NAMESPACE_DOCKER_HUB: ${{ secrets.DEV_NAMESPACE_DOCKER_HUB }}
      ACTOR_DOCKER_HUB: ${{ secrets.ACTOR_DOCKER_HUB }}
      RELEASE_DOCKER_HUB: ${{ secrets.RELEASE_DOCKER_HUB }}
      # SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}  # Passed from calling workflow
      # GENERAL_CHANNEL_ID: ${{ secrets.GENERAL_CHANNEL_ID }}  # Passed from calling workflow
      # SLACK_USERS_MAP: ${{ secrets.SLACK_USERS_MAP }}
      # GPG_USER_MAP_PASSPHRASE: ${{ secrets.GPG_USER_MAP_PASSPHRASE }}
